In [1]:
import os
import sys
sys.path.append(os.getcwd() + '\\..')

In [3]:
from data.raw_data import *

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
id           25000 non-null object
sentiment    25000 non-null int64
review       25000 non-null object
dtypes: int64(1), object(2)
memory usage: 586.0+ KB

In [5]:
train_df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
id        25000 non-null object
review    25000 non-null object
dtypes: object(2)
memory usage: 390.7+ KB

In [7]:
test_df.head()

         id                                             review
0  12311_10  Naturally in a film who's main themes are of m...
1    8348_2  This movie is a disaster within a disaster fil...
2    5828_4  All in all, this is a movie for kids. We saw i...
3    7186_2  Afraid of the Dark left me with the impression...
4   12128_7  A very accurate depiction of small time mob li...

In [8]:
import re
def remove_punctuation(row_str):
    return re.sub(r"\W", " ", row_str)

In [10]:
train_df = train_df.assign(review=train_df.review.apply(remove_punctuation))

In [11]:
train_df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1   The Classic War of the Worlds   by Timothy Hi...
2  7759_3          0  The film starts with a manager  Nicholas Bell ...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [18]:
train_df = train_df.assign(review_len=train_df.review.str.len())

In [19]:
deciles = [x/10.0 for x in range(1, 10)]
train_df.review_len.describe(percentiles=deciles)

count    25000.000000
mean      1327.710560
std       1005.239246
min         52.000000
10%        512.000000
20%        665.000000
30%        743.000000
40%        845.000000
50%        981.000000
60%       1162.000000
70%       1432.000000
80%       1857.000000
90%       2624.100000
max      13708.000000
Name: review_len, dtype: float64

In [22]:
print("Correlation with comment length for {}: {}".format('sentiment', train_df['sentiment'].corr(train_df.review_len)))

Correlation with comment length for sentiment: 0.02187447404012613

In [23]:
def get_num_words(row_str):
    return len(row_str.split())

In [25]:
train_df = train_df.assign(num_words=train_df.review.apply(get_num_words))

In [27]:
train_df.num_words.describe(percentiles=deciles)

count    25000.000000
mean       242.274920
std        179.876908
min         10.000000
10%         94.000000
20%        124.000000
30%        139.000000
40%        157.000000
50%        181.000000
60%        213.000000
70%        261.000000
80%        337.000000
90%        474.000000
max       2525.000000
Name: num_words, dtype: float64

In [28]:
def get_unique_words(row_str):
    return len(set(row_str.lower().split()))

In [29]:
train_df = train_df.assign(unique_words=train_df.review.apply(get_unique_words))

In [30]:
train_df.unique_words.describe(percentiles=deciles)

count    25000.000000
mean       141.891480
std         81.227086
min         10.000000
10%         68.000000
20%         84.000000
30%         94.000000
40%        104.000000
50%        116.000000
60%        134.000000
70%        157.000000
80%        192.000000
90%        254.000000
max        683.000000
Name: unique_words, dtype: float64

In [31]:
print("Correlation with comment length for {}: {}".format('sentiment', train_df['sentiment'].corr(train_df.num_words)))

Correlation with comment length for sentiment: 0.014283608798349843

In [33]:
print("Correlation with comment length for {}: {}".format('sentiment', train_df['sentiment'].corr(train_df.unique_words)))

Correlation with comment length for sentiment: 0.005476607870909681

In [34]:
train_df.eval('mean_word_length = review_len/num_words', inplace=True)

In [36]:
train_df.mean_word_length.describe(percentiles=deciles)

count    25000.000000
mean         5.451851
std          0.446142
min          4.206897
10%          5.067344
20%          5.193939
30%          5.287879
40%          5.368023
50%          5.438443
60%          5.513459
70%          5.596934
80%          5.696203
90%          5.843554
max         41.375000
Name: mean_word_length, dtype: float64

In [37]:
train_df.mean_word_length.quantile(0.99)

6.24762148962149